@model BabyGiftRegisterLibrary.Model.RegisterItem

<div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                    <img src="~/Images/@Model.ImageUrl" />
                </span>
            </div>
            <div class="panel-body">
                <h4>@Model.Name</h4>
                <p>@Model.Price</p>
                <span id="spn_@Model.Id">
                @if (Model.Sold)
                {  
                    <span class="btn btn-danger" disabled="disabled">SOLD!</span>
                }
                else
                {
                    <a href="#" class="btn btn-primary" id="btn_@Model.Id" onclick="Buy(@Model.Id)">Buy</a>
                }
                </span>
            </div>
        </div>
    </div>